<div class="welcome">
  <div>
    <div align="center">
      <img src="./assets/eprase-logo.png" alt="Welcome to the ePRaSE Tool" class="eprase-logo">
    </div>
    <div class="welcome-text">
      <div>
        <h1>Welcome to ePRaSE</h1>
        <p>The ePrescribing Risk and Safety Evaluation tool (ePRaSE) is designed to evaluate ePrescription services,
          in order to determine their usefulness and to encourage the correct use of these systems
          and deliver improved patient outcomes. </p>
        <a routerLink="/about"><p>Click here for more information</p><br/><br/></a>
        <p>To complete the assessment and view the results,<br/>please log in using the button below.</p>
        <br/>
      </div>
    </div>
  </div>
</div>

<div class="buttons">
  <button (click)="onClick()">Continue</button>
</div>
