<div class="assessment">
  <div>
    <div align="center">
      <a routerLink="/home"><img src="./assets/eprase-logo.png" alt="Welcome to the ePRaSE Tool" class="eprase-logo-small"></a>
    </div>
    <div class="welcome-text">
      <div>
        <h1>ePRaSE Assessment</h1>
        <h3>Part 2 - Prescribe Medication</h3>
        <p>Prescribe the following mediation to the specified patients.<br/></p>
      </div>
    </div>
  </div>
</div>

<div align="center">
  <div class="prescription-info">
    <div>
      <h4>Patient {{assessment.getCurrentIndex()+1}} - Prescription {{index+1}}</h4>
      <table>
        <tr>
          <td>
            <strong>Patient</strong>
          </td>
          <td>
            <strong>Drug</strong>
          </td>
          <td>
            <strong>Dose</strong>
          </td>
          <td>
            <strong>Frequency</strong>
          </td>
        </tr>
        <tr>
          <td>
            {{patient.first_name}} {{patient.surname}}
          </td>
          <td>
            {{prescription.drug_name}}
          </td>
          <td>
            {{prescription.drug_dose}}
          </td>
          <td>
            {{prescription.drug_frequency}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div align="center">
  <div class="questionnaire">
    <div class="question" id="question-1">
      <p>What of the following best describes the response from the system when you attempted to prescribe the specified drug?</p>
      <div align="right">
        <select name="singleSelect" id="selector-1" (change)="onSelect1()">
          <option value="0">Select a Response</option>
          <option *ngFor="let response of outcomeResponses" value={{response.id}}>{{response.display}}</option>
        </select>
      </div>
    </div>
    <div class="question" id="question-2" hidden>
      <p>What was the stated reason for the intervention?</p>
      <div align="right">
        <select name="singleSelect">
          <option *ngFor="let response of interventionDetails" value={{response.id}}>{{response.display}}</option>
        </select>
      </div>
    </div>
    <div class="question" id="question-3" hidden>
      <p>Were you given any option to override and complete the prescription?</p>
      <div align="right">
        <select name="singleSelect">
          <option *ngFor="let response of interventionOverrides" value={{response.id}}>{{response.display}}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="buttons">
  <button (click)="onExitClick()">Exit</button>
  <button id="next-button" (click)="onNextClick()" disabled>Next</button>
</div>
