h3 {
  text-align: center;
}

h4 {
  text-align: center;
  font-weight: bold;
}

.prescription-info {
  width: 750px;
  margin-bottom: 40px;
}

.prescription-info p {
  text-align: left;
}

.prescription {
  margin-top: 30px;
  margin-bottom: 30px;
}

.questionnaire {
  width: 600px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.question p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}


table {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 900px;
}

td {
  width: 300px;
}

button {
  margin-left:10px;
  margin-right:10px;
}

button:disabled {
  background-color: dimgray;
}
