
h1 {
    font-family: Verdana;;
    font-size: 24pt;
    text-align: center;
}

p {
    font-family: Verdana;
    text-align: center;
}

label {
    font-family: Verdana;
    text-align: right;
}

button {
    background-color: #0086b3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 9px;
    transition-duration: 0.4s;
    height: 50px;
}

button:hover {
    background-color: #66d9ff;
    color: white;
}


.welcome {
  margin-top: 8%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.assessment {
  margin-top: 2.5%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.main-text {
  display:flex;
  justify-content:center;
  align-items:center;
}

.buttons {
  display:flex;
  justify-content:center;
  align-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.buttons button {
  margin-left:10px;
  margin-right:10px;
}

.welcome-text {
  display:flex;
  justify-content:center;
  align-items:center;
  max-width: 600px;
}

.eprase-logo {
  width: 550px;
}

.eprase-logo-small {
  width: 300px;
}
