<div class="welcome">
  <div>
    <div align="center">
      <a routerLink="/home"><img src="./assets/eprase-logo.png" alt="Welcome to the ePRaSE Tool" class="eprase-logo-small"></a>
    </div>
    <div class="welcome-text">
      <div>
        <h1>2018 ePRaSE Assessment</h1>
        <p>The current ePRaSE assessment was released in September 2018.</p>
        <p>To take part in the current ePRaSE assessment, click the button below.</p>
        <br/>
        <p>For more detailed instructions, <a routerLink="/instructions">click here</a>.</p>
        <br/>
        <p>This assessment will be repeated annually, you will be informed by email when the next assessment is available.</p>
      </div>
    </div>
  </div>
</div>

<div class="buttons">
  <button (click)="onStartAssessmentClick()">Begin 2018 Assessment</button>
  <button (click)="onBackClick()">Back</button>
</div>
