<div class="welcome">
  <div>
    <div align="center">
      <a routerLink="/home"><img src="./assets/eprase-logo.png" alt="Welcome to the ePRaSE Tool" class="eprase-logo-small"></a>
    </div>
    <div class="welcome-text">
      <div>
        <h1>ePRaSE Assessment Instructions</h1>
        <p>ePRaSE assessments take place in three steps.</p>
        <div class="instructions">
          <h4>Step 1: Enter Patient Information</h4>
          <p>You will be asked to admit a number of test patients into the system.</p>
          <h4>Step 2: Prescribe Medication</h4>
          <p>You will be asked to prescribe a number of medicine combinations to the test patients.</p>
          <p>During this step, please note any feedback or interventions from the e-Prescribing System.</p>
          <h4>Step 3: Complete the Questionnaire</h4>
          <p>You will be asked a number of questions about the prescription process.</p>
          <br/>
          <p>Once the assessment is complete, you will be able to view your results.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="buttons">
  <button (click)="onBeginAssessmentClick()">Begin Assessment</button>
  <button (click)="onHomeClick()">Home</button>
</div>
