.login-boxes {
  padding-right: 110px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.login-input {
  text-align: right;
  padding-top: 10px;
}

input {
  width: 250px;
}

select {
  width: 250px;
}

button {
  padding-top: 15px;
  margin-bottom: 10px;
  width: 150px;
  height: 50px;
}
