<div class="welcome">
  <div>
    <div align="center">
      <img src="./assets/eprase-logo.png" alt="Welcome to the ePRaSE Tool" class="eprase-logo-small">
    </div>
    <div class="welcome-text">
      <div>
        <h1>Register</h1>
        <p>Please enter the following information.</p>
      </div>
    </div>

    <form>
      <div class="login-boxes">
        <div class="login-input">
          <label for="email">E-mail Address:
            <input type="text" id="email" required
                   [(ngModel)]="new_user.username" name="email">
          </label>
        </div>
        <div class="login-input">
          <label for="institution"> Select Institution:
            <select name="singleSelect" id ="institution" required
                    [(ngModel)]="new_user.institution" name="institution">
              <option *ngFor="let institution of institutions" value={{institution.org_code}}>{{institution.org_name}}</option>
            </select>
          </label>
        </div>
        <br/>
        <div class="login-input">
          <label for="password1">Enter Password:
            <input type="text" name="input" id="password1" required>
          </label>
        </div>
        <div class="login-input">
          <label for="password2">Re-enter Password:
            <input type="text" id="password2" required>
          </label>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="buttons">
  <button (click)="onRegisterClick()">Register</button>
</div>
