 <div *ngIf="assessment.getCurrentIndex()<10">
  <div class="welcome">
    <div>
      <div align="center">
        <a routerLink="/home"><img src="./assets/eprase-logo.png" alt="Welcome to the ePRaSE Tool" class="eprase-logo-small"></a>
      </div>
      <div class="welcome-text">
        <div>
          <h1>Assessment Home</h1>
          <p>Welcome to the ePRaSE assessment.</p>
          <p>Please complete the assessment by completing the steps below.</p>

          <p>The assessment comprises 10 steps. For each step you will be asked to admit a test patient and
            prescribe medication to that patient. You will them be asked to feedback on any intervention from the system.</p>

          <div align="center">
            <table>
              <tr>
                <td *ngIf="assessment.getCurrentIndex()==0">
                  <button (click)="onPart1Click()">Begin Assessment</button>
                </td>
                <td *ngIf="assessment.getCurrentIndex()>0">
                  <button (click)="onPart1Click()">Continue Assessment</button>
                </td>
              </tr>
            </table>
          </div>

          <div align="center">
            <div id="progress-bar" class="col-md-12">
              <div class="col-md-1"></div>
              <div *ngIf="assessment.getCurrentIndex()>0" id="progress-bar-full" class="col-md-{{assessment.getCurrentIndex()}}"></div>
              <div id="progress-bar-blank" class="col-md-{{10-assessment.getCurrentIndex()}}"></div>
              <div class="col-md-1"></div>
            </div>
          </div>
          <br/>
          <div><p>{{assessment.getCurrentIndex()}}/10 Patients Complete</p></div>

          <br/>
          <p><a routerLink="/instructions">Click here</a> for more detailed instructions.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons">
    <button (click)="onBackClick()">Back</button>
  </div>
 </div>


 <div *ngIf="assessment.getCurrentIndex()==10">
   <div class="welcome">
     <div>
       <div align="center">
         <a routerLink="/home"><img src="./assets/eprase-logo.png" alt="Welcome to the ePRaSE Tool" class="eprase-logo-small"></a>
       </div>
       <div class="welcome-text">
         <div>
           <h1>Assessment Complete</h1>
           <p>Thank you for taking part in the 2018 ePRaSE Assessment.</p>
           <p>To view the results of this assessment, click the 'View Results' button below.</p>
           <br/>
           <p>This assessment will be repeated annually, you will be informed by email when the next assessment is available.</p>
         </div>
       </div>
     </div>
   </div>

   <div class="buttons">
     <button (click)="onResultsClick()">View Results</button>
     <button (click)="onHomeClick()">Home</button>
   </div>
 </div>
