td p {
  text-align: left;
}

td button {
  width: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
}

table {
  margin-top: 40px;
  margin-bottom: 40px;
}

#progress-bar {

}

#progress-bar-blank {
  height: 10px;
  background-color: #66d9ff;
}

#progress-bar-full {
  height: 10px;
  background-color: #0086b3;
}
