.login-boxes {
  padding-right: 50px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.login-input {
  text-align: right;
  padding-top: 10px;
}

button {
  padding-top: 15px;
  margin-bottom: 10px;
  width: 150px;
  height: 50px;
  margin-left:10px;
  margin-right:10px;
}
