<div class="welcome">
  <div>
    <div align="center">
      <a routerLink="/home"><img src="./assets/eprase-logo.png" alt="Welcome to the ePRaSE Tool" class="eprase-logo-small"></a>
    </div>
    <div class="welcome-text">
      <div>
        <h1>Log-in to ePRaSE</h1>
        <p>Please enter your login details below, or click 'Register'.</p>
      </div>
    </div>

    <div class="login-boxes">
      <div class="login-input">
        <label>Username:
          <input type="text" name="input" ng-model="example.text"
                 ng-pattern="example.word" required ng-trim="false">
        </label>
      </div>
      <div class="login-input">
        <label>Password:
          <input type="text" name="input" ng-model="example.text"
                 ng-pattern="example.word" required ng-trim="false">
        </label>
      </div>
    </div>

    <div align="center">
      <a routerLink="">Forgotten your Password? Click here.</a><br/><br/>
    </div>
  </div>
</div>

<div class="buttons">
  <button (click)="onLoginClick()">Log-in</button>
  <button (click)="onRegisterClick()">Register</button>
</div>
