<div class="welcome">
  <div>
    <div align="center">
      <a routerLink="/home"><img src="./assets/eprase-logo.png" alt="Welcome to the ePRaSE Tool" class="eprase-logo-small"></a>
    </div>
    <div class="welcome-text">
      <div>
        <h1>About ePRaSE</h1>
        <p>The ePrescribing Risk and Safety Evaluation tool (ePRaSE) is designed to evaluate ePrescription services,
          in order to determine their usefulness and to encourage the correct use of these systems
          and deliver improved patient outcomes.</p>
        <p>ePRaSE has been developed by the Pharmacy Department at Newcastle University, in association with The Royal Victoria Infirmary and the NHS Trust.
        <p>The assessments were developed by <br/>Stephanie Klein, Jude Heed and Andrew Heed.</p>
        <p>The ePRaSE tool was developed by <br/>Mike Simpson from the Digital Institute.</p>
      </div>
    </div>
  </div>
</div>

<div class="buttons">
  <div align="center">
    <button (click)="onBackClick()">Back</button>
  </div>
</div>
