h3 {
  text-align: center;
}

h4 {
  text-align: center;
  font-weight: bold;
}

.patient-info {
  width: 750px;
}

.patient-info p {
  text-align: left;
}

table {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 900px;
}

td {
  width: 200px;
}

button {
  margin-left:10px;
  margin-right:10px;
}

#patient-intervention {
  width: 500px;
}
