<div class="assessment">
  <div>
    <div align="center">
      <a routerLink="/home"><img src="./assets/eprase-logo.png" alt="Welcome to the ePRaSE Tool" class="eprase-logo-small"></a>
    </div>
    <div class="welcome-text">
      <div>
        <h1>ePRaSE Assessment</h1>
        <h3>Part 1 - Admit Patients</h3>
        <p>Please admit the following test patient into your ePrescribing System.</p>
      </div>
    </div>
  </div>
</div>

<div align="center">
  <div class="patient-info">
    <div>
      <h4>Patient {{assessment.getCurrentIndex()+1}}</h4>
      <table>
        <tr>
          <td>
            <strong>First Name</strong>
          </td>
          <td>
            <strong>Surname</strong>
          </td>
          <td>
            <strong>D.O.B.</strong>
          </td>
          <td>
            <strong>Gender</strong>
          </td>
        </tr>
        <tr>
          <td>
            {{patient.first_name}}
          </td>
          <td>
            {{patient.surname}}
          </td>
          <td>
            {{patient.dob}}
          </td>
          <td>
            {{patient.gender}}
          </td>
        </tr>
      </table>
      <p><strong>Allergies:</strong> {{patient.allergies}}</p>
      <p><strong>Other Problems:</strong>  {{patient.problems}}</p>
    </div>
  </div>
</div>

<div class="assessment">
  <div class="welcome-text">
    <div>
      <p>Note any intervention from the system using the box below.</p>
      <div>
          <input type="text" name="input" id="patient-intervention">
      </div>
    </div>
  </div>
</div>

<div class="assessment">
  <div class="welcome-text">
    <div>
      <p>When the patient have been admitted to the ePrescription System, click "Next".</p>
    </div>
  </div>
</div>

<div class="buttons">
  <button (click)="onExitClick()">Exit</button>
  <button (click)="onNextClick()">Next</button>
</div>
