<div class="welcome">
  <div>
    <div align="center">
      <a routerLink="/home"><img src="./assets/eprase-logo.png" alt="Welcome to the ePRaSE Tool" class="eprase-logo-small"></a>
    </div>
    <div class="welcome-text">
      <div>
        <h1>ePRaSE 2018 Assessment Results</h1>
        <p>Below are the results from the 2018 ePRaSE assessment. </p>

        <h4>Results Category 1</h4>
        <img src="./assets/graph.jpg" alt="Welcome to the ePRaSE Tool" width="600">
        <h4>Results Category 2</h4>
        <img src="./assets/pie-chart.png" alt="Welcome to the ePRaSE Tool" width="600">
        <h4>Results Category 3</h4>
        <img src="./assets/graph.jpg" alt="Welcome to the ePRaSE Tool" width="600">
      </div>
    </div>
  </div>
</div>

<div class="buttons">
  <div align="center">
    <button (click)="onBackClick()">Back</button>
    <button (click)="onHomeClick()">Home</button>
  </div>
</div>
