<div class="welcome">
  <div>
    <div align="center">
      <a routerLink="/home"><img src="./assets/eprase-logo.png" alt="Welcome to the ePRaSE Tool" class="eprase-logo-small"></a>
    </div>
    <div class="welcome-text">
      <div>
        <h1>Results Home</h1>
        <p>Here you can browse the results from all of the ePRaSE assessments <br/>that you have participated in.</p>
        <p>Click the buttons below to view assessment results.</p>
      </div>
    </div>
  </div>
</div>

<div class="button-div">
  <div align="center">
    <button (click)="onResultsClick()">View 2018 Assessment Results</button>
  </div>
  <div align="center">
    <button (click)="onResultsClick()">View 2017 Assessment Results</button>
  </div>
  <div align="center">
    <button (click)="onResultsClick()">View 2016 Assessment Results</button>
  </div>
</div>

<div class="buttons">
  <button (click)="onBackClick()">Back</button>
</div>
