<div class="welcome">
  <div>
    <div align="center">
      <img src="./assets/eprase-logo.png" alt="Welcome to the ePRaSE Tool" class="eprase-logo-small">
    </div>
    <div>
      <h1>ePRaSE Home</h1>
      <p>To complete the assessment or view the results, use the buttons below.</p>
    </div>
  </div>
</div>

<div class="buttons">
  <button (click)="onAssessmentClick()"><span class="glyphicon glyphicon-list" style="font-size:70px;"></span><br/><p>Complete Assessment</p></button>
  <button (click)="onResultsClick()"><span class="glyphicon glyphicon-stats" style="font-size:70px;"></span><br/><p>View Results</p></button>
</div>

<div class="main-text">
  <div>
    <div>
      <p>For more information about the ePRaSE system <a routerLink="/about">click here</a>.</p>
      <p>For more detailed assessment instructions <a routerLink="/instructions">click here</a>.</p>
    </div>
  </div>
</div>
